---
const {
  name = "Titulo Principal",
  title = "Texto de ejemplo",
  image = "/images/5623795.jpg",
  extraClass = "",
  btnTxt = "Menu",
  extraTitleClass = "",
} = Astro.props;
---

<div
  class={`py-8 px-8 max-w-lg h-auto mx-auto space-y-2 bg-white rounded-xl shadow-lg sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:gap-x-6 ${extraClass}`}
>
  <img
    class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0 my-4"
    src={image}
    alt={`${name}'s photo`}
  />
  <div class="text-center space-y-2 sm:text-left flex flex-col">
    <div class="space-y-0.5">
      <p class={`text-lg text-black font-semibold ${extraTitleClass}`}>
        {name}
      </p>
      <p class="text-slate-500 font-medium">
        {title}
      </p>
    </div>
    <button
      class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
    >
      {btnTxt}
    </button>
  </div>
</div>
